.channel {
  display: flex;
  align-items: center;
}

.channel__image {
  margin-right: 2em;
  height: 120px !important;
  width: 120px !important;
}

.channel__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.channel__views {
  margin: 0.5em 0;
}

.channel__title {
  display: flex;
}

.channel__name {
  margin-right: 0.5em;
}

.channel__nums {
  color: gray;
  font-size: 0.8rem;
}

.channel__sub {
  background-color: red;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  height: 40px;
}
