.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
}

.header__logo {
  display: flex;
  align-items: center;
}

.header__img {
  height: 60px;
}

.header__search {
  display: flex;
  align-items: center;
  width: 40%;
  border: 1px solid lightgray;
}

.search__input {
  flex: 1;
  border: none;
  outline: none;
}

.search__inputButton {
  width: 50px !important;
  background-color: #f4f4f4;
  border-left: 1px solid lightgray;
  color: gray;
}

.header__actions {
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 0.5em;
}
