.videoCard {
  max-width: 250px;
  margin: 1em 0.5em;
  margin-top: 0px;
}

.videoCard__thumbnail {
  width: 250px;
  height: 140px;
  object-fit: contain;
}

.videoCard__info {
  display: flex;
  margin-top: 0.5em;
}

.videoCard__thumb {
  margin-right: 0.6em;
}

.videCard__vidName {
  margin-bottom: 0.5em;
  font-size: 1rem;
}

.videoCard__details p {
  font-size: 0.9rem;
}

.videoCard__channel,
.videoCard__views {
  color: grey;
}
