.vid__row {
  display: flex;
  margin: 1em 0;
  max-width: 700px;
}

.vid__img {
  width: 230px;
  height: 130px;
  object-fit: contain;
}

.vid__title {
  font-size: 1.2rem;
}

.vid__dets p {
  color: gray;
  font-size: 0.8rem;
}

.vid__sum {
  margin: 1em 0;
}
